<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pokemon Trainer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/pokemon">Pokemon Catalogue</a>
        <a class="nav-link" routerLink="/trainer">Trainer Page</a>
        <!-- <a class="nav-link" routerLink="/trainer">Logout</a> -->
        <button class="btn btn-sm btn-outline-secondary" type="button">Logout</button>
      </div>
    </div>
    <!-- <div> -->
      <!-- <form class="container-fluid justify-content-start"> -->
        <!-- <button class="btn btn-outline-success me-2" type="button">Main button</button> -->
        
      <!-- </form> -->
    <!-- </div> -->
    
  </div>
</nav>
