.header {
  text-align: center;
}

.image-container {
  margin: 10px auto 0 auto;
  width: 250px;
  padding: 15px 10px 10px 10px;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
  position: relative;
  width: 80%;
  height: 80%;
}

.collected-tag {
  position: absolute;
  width: 250px;
  z-index: 100;  
  background-color: yellow;
  font-size: small;
  font-weight: 600;
  margin: -15px -10px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.stats {
  margin: 10px;
  text-align: center;
  height: 350px;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.section-header {
  font-size: x-large;
  font-weight: 600;
}

.stat-name {
  font-weight: 600;
}
