<header>
  <aside>
    <img
      [src]="pokemon.sprites?.other.dream_world.front_default"
      [alt]="pokemon.name"
    />
  </aside>
  <article>
    <div class="base-stats">
      <h2>Base Stats:</h2>
      <h3>
        Name: {{ pokemon.name[0].toUpperCase() + pokemon.name.substring(1) }}
      </h3>
      <h3>Types:</h3>
      <ul>
        <li *ngFor="let type of pokemon.types">
          {{ type.type.name[0].toUpperCase() + type.type.name.substring(1) }}
        </li>
      </ul>
      <h3>Stats:</h3>
      <ul>
        <li *ngFor="let stat of pokemon.stats">
          {{ stat.stat.name[0].toUpperCase() + stat.stat.name.substring(1) }}:
          {{ stat.base_stat }}
        </li>
      </ul>
    </div>
    <div class="profile">
      <h2>Profile:</h2>
      <h3>Height: {{ pokemon.height }}</h3>
      <h3>Weight: {{ pokemon.weight }}</h3>
      <h3>Abilities:</h3>
      <ul>
        <li *ngFor="let ability of pokemon.abilities">
          {{
            ability.ability.name[0].toUpperCase() +
              ability.ability.name.substring(1)
          }}
        </li>
      </ul>
      <h3>Base Experience: {{ pokemon.base_experience }}</h3>
    </div>
    <div class="moves">
      <h2>Moves:</h2>
      <ul>
        <li *ngFor="let move of pokemon.moves">
          {{ move.move.name[0].toUpperCase() + move.move.name.substring(1) }}
        </li>
      </ul>
    </div>
  </article>
</header>
