<app-container>
  <div
    class="row row-cols-2 row-cols-sm-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-6"
  >
    <pokemon-card-component
      *ngFor="let poke of pokemon"
      [pokemon]="poke"
    ></pokemon-card-component>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a
          class="page-link"
          *ngIf="offset >= limitPerPage"
          (click)="previousPage()"
          >Previous</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link"
          *ngIf="offset < 151 - limitPerPage"
          (click)="nextPage()"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</app-container>
